    <%- include('partials/_header'); -%>
        <!-- <pre>
            <%- tasks -%>
        </pre>     -->


        <div class="container">
            <div class="row">
                <!--FORM-->
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <form action="/add" method="POST">
                                <div class="form-group">
                                    <input type="text" name="title" placeholder="insert a title " class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <textarea name="description" cols="80" placeholder="insert a description  " class="form-control"></textarea>
                                </div>
                                <button type="submit" class="btn-primary btn-block">Add</button>
                            </form>
                        </div>
                    </div>

                </div>
                 <!--LIST-->
                 <div class="col-md-7">
                     <table class=" table table-bordered table-hover">
                        <thead>
                            <tr>
                              <th>N°</th>
                              <th>Title</th>
                              <th>Description</th>
                              <th>Operations</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i=0; i < tasks.length; i++) { %>
                              <tr>
                                <td><%= i + 1%></td>
                                <td><strong><%= tasks[i].title %></strong></td>
                                <td><%= tasks[i].description %></td>
                                <td>

                                    <a href="" class="btn btn-dark">Done</a>
                                    <a href="" class="btn btn-danger">Delete</a>
                                    <a href="" class="btn btn-info">Edit</a>
                                </tr>
                             <% } %>
                         </tbody>
                     

                     </table>

                 </div>
            </div>

        </div>

    <%- include('partials/_footer'); -%>

